.fa-search {
    background-color: transparent;
    border: none;
}


.input-group-text{
    background-color: transparent;
    border: none;
}

.form-control {
    border: none;
}
.wd-search{
    display: flex;
    flex-direction: row;
    align-content: center;
}

