.buy-button {
    color: #fff;
    background: #f82;
    transition: all ease-in-out 0.3s;
    padding: 7px 22px;
    margin: 0 0 0 15px;
    border-radius: 50px;
    border: 2px solid #f82;
    font-weight: 500;
    line-height: 1;
    font-size: 13px;
    white-space: nowrap;
}
.buy-button:hover {
    cursor: pointer;
    background: lightcoral;
}
.buy-button:focus {
    color: #fff;
}

