.mouse-link:hover {
    cursor:pointer;
}

.wap-title{
    color: black;
    font-family: "Arial Black";
    font-weight: 900;
    font-size: 40px;
}

.wd-image{
    height: 500px;
    width: 700px;
}

.section-block {
    background-color: #F7F7F7;
    border-radius:4px;
    padding: 30px;
    margin-bottom:30px;
}
.funding-meta {}
.funding-meta h1 {
    background: #2a2a2a;
    color: #fff;
    border-radius: 4px;
    display: table;
    padding: 10px;
    font-size: 25px;
    font-weight:700;
}
.type-meta {
    color:#A7A7A7;
    font-size: 12px;
    display: inline-block;
    margin: 0px 10px 10px 0px;
}
.type-meta i.fa {
    color: #2a2a2a;
    margin-right:5px;
}
.funding-meta h2{
    font-weight:700;
}
.funding-meta p {
    color: #A7A7A7;
    margin: 30px 0px 10px 0px;
}
.video-frame {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    display:block;
}
.video-frame iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.funding-meta h2, .funding-meta span.contribution {
    display:inline-block;
    color: #85AD90;
}
.funding-meta span.contribution, .funding-meta span.goal-progress {
    color: #A7A7A7;
}
.funding-meta span.goal-progress {
    text-align:right;
    display: block;
}
.count-down {
    display: block;
    color: #A7A7A7;
    text-align: right;
    text-transform: uppercase;
}
.count-down strong {
    padding-right:5px;
}
.progress-bar {
    background-color: #99DEAB;
    box-shadow:none;
}
.progress {
    height: 30px;
    background-color: #ECEBEB;
    box-shadow:none;
    margin: 10px 0px 10px 0px;
}

.section-block.signup {
    background-color: #273623;
    margin-bottom: 0px;
}

.sign-up-form {
    text-align: center;
}
.sign-up-form .p {
    font-weight:700;
    color:#fff;
}
.signup-input {
    width: 100%;
    border: 0;
    padding: 10px;
    border-radius: 4px;
    max-width: 400px;
}
@media (max-width: 767px) {
    .signup-input {
        width: 75%;
        max-width: 100%;
    }
}
@media (max-width: 480px) {
    .signup-input {
        width: 100%;
        max-width: 100%;
    }
    .sign-up-form .btn.btn-signup {
        margin:10px 0px;
        width:100%;
        display:block;
    }
}

.wap-event-other-info{
    color: #0c4128;
}

.wap-date, .wap-time, .wap-title, .wap-location {
    color: black;
}

.wap-icon{
    color: #2a2a2a;
}

.wap-add-icon{
    color: white;
}

.wap-submit-btn{

    background-color: white;
}

.wap-border{
    border: medium white;

}

.img-style{
    max-height: 500px !important;
}